* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: Maven Pro;
    background-color: #E7E5D9;
    color: #1d2d5a;
}
html {
    scroll-behavior: smooth;
}
.header {
    background-image : linear-gradient(to right, rgba(129, 164, 197, 0.199), rgba(46, 60, 122, 0.356), rgba(10, 57, 128, 0.432)), url(perpus.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.iniHeader {
    background-color: #3d5a80;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.555);
    padding: 15px 30px;
    height: 50px;
    color: #E7E5D9;
    position: relative;
    z-index: 1;
}
.logo a {
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    font-family:Montserrat;
    color: #c9aa7f;
    text-decoration: none;
    margin-top: 5px;
    font-size: 50px;
}
.logo a:hover {
    color: #1d2d5a;
    transition: ease 0.5s;
}
.navigation {
    line-height: 40px;
    float: right;
    position: relative;
    margin: 2px 15px 0 50px;
}
.navigation a {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #c5b092;
    font-size: 20px;
    cursor: pointer;
    transition: all, 1s ease;
    -webkit-transition: all, 1s ease;
    -moz-transition: all, 1s ease;
    -ms-transition: all, 1s ease;
    -o-transition: all, 1s ease;
}
.navigation a:hover {
    color: #1d2d5a;
}
.tlsndiGbr {
    display: inline-block;
    position:absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform : translate(-50%, -50%);
    -o-transform : translate(-50%, -50%);
    margin: 20px 10px;
    text-align: center;
}
.tlsndiGbr-txt {
    font-size: 60px;
    font-weight: 700;
    color: #c9aa7f;
    padding: 20px 10px;
    text-transform: uppercase;
    text-shadow: 0 10px 15px #040c16;
}
.tlsndiGbr-txt span {
    color: #6176af;  
    font-size: 60px;
}
.button {
    text-decoration: none;
    text-shadow: none;
    font-size: 25px;
    color: #E7E5D9;
    padding: 10px 20px;
    background-color: #c9aa7f;
    border-radius: 30px;
    box-shadow: #111e30;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all 0.5s ease-out; 
}
.button:hover {
    color : blanchedalmond;
    background-color: #283B72;
}
@media all and (max-width:600px) {
    .header {
        position: relative;
        background-image : linear-gradient(to right, rgba(110, 122, 134, 0.171), rgba(96, 106, 150, 0.356), #283b729a), url(perpus.jpg);
        background-size: cover; 
    }
    .iniHeader {
        text-align: center;
    }
    .logo a {
        font-size: 40px;
        color: #c5b092;
        line-height: 1;
        margin: 2px 0 0 1px;
    }
    .navigation {
        text-align: center;
        display: inline-block;
        margin: 2px 0 0 5px;
    }
    .navigation a {
        font-size: 13px;
        padding-left: 10px;
    }
    .tlsndiGbr {
        display: inline-block; 
    }
    .tlsndiGbr-txt {
        font-size: 60px;
        color: rgb(40, 59, 114);
        padding: 50px 20px;
    }
    .button {
        font-size: 15px;
        margin-left: 30px;
        padding: 10px 20px;
    }
}
/* buat login */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Maven Pro;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #E7E5D9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  .container {
    padding: 16px;
    color: #1d2d5a;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #E7E5D9;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  } 
  

/*Buat sign up */
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add a background color when the inputs get focus
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
} */

/* Set a style for all buttons */
button {
  background-color: #3d5a80;
  color: white;
  padding: 14px 0px;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn2 {
    width: auto;
    padding: 14px 0px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn2, .signupbtn2 {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container2 {
  padding: 25px 10px 80px 10px;
}

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content2 {
  background-color: #E7E5D9;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close2 {
  position: absolute;
  right: 25px;
  top: 0;
  font-size: 40px;
  font-weight: bold;
  color: #000;
}

.close2:hover,
.close2:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.cancelbtn2::after {
  content: "";
  clear: both;
  display: table;
}
.btn2::after {
    content: "";
    clear: both;
    display: table;
  }
  /* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn2, .signupbtn2 {
     width: 95%;
  }
}

/*Body beneran */
img.kanan {
    float: right;
    margin: 5px 50px;
    width: 60%;
    border-radius: 10%;
}
.isi {
    margin: 0 10px 10px 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: auto;
}
h2 {
    text-align: center;
    font-family: Proxima Nova;
    font-size: 40px;
}
p {
    text-align: center;
    font-size: 20px;
    font-family: Proxima Nova;
}
h3 {
    text-align: center;
    margin: 10% 0px 5% 10%;
    font-size: large;
    font-family: Proxima Nova;
}
h4, h5, h6 {
    text-align: center;
    font-family: Proxima Nova;
    font-size: 25px;
}
.gbrdanDesk {
    text-align: center;
    margin: 3% 25px 0 -20px;
    font-size: large;
    font-family: Maven Pro;
    border-radius: 10%;
}
.back {
    display:inline-block;
    position:relative;
    top: auto;
    left: 40%;
    background-color: #c9aa7f;
    color: white;
    padding: 10px 1px;
    margin: 15px 0 0 1px;
    border: none;
    cursor: pointer;
    width: 15%;
    opacity: 0.9;
    border-radius: 20px;
}
.back a {
    color: #E7E5D9;
    font-family: Maven Pro;
    font-size: 20px;
}
.back:hover {
  background-color: #3d5a80;
  transition: ease 0.5s;
}
.footer p {
    text-align: center;
    font-size: 15px;
}
@media all and (max-width:1000px) {
    img.kanan {
        display: inline-block; 
        position: relative;
        size: cover; 
        width: 110%;
        align-content: center;
        margin: 10px 0 10px 0;
    }
    .gbrdanDesk {
        text-align: center;
        margin: 3% 25px 0 -20px;
        font-size: large;
        font-family: "Work sans", Helvetica, Arial, sans-serif;
    }
    .back {
        font-size: 10px;
        margin-left: -3%;
        padding: 10px 20px;
        font-family: Maven Pro;
        color: #E7E5D9;
    }
    .back a {
        font-size: 15px;
    }
}
*, *:before, *:after {
    box-sizing: inherit;
}
.kolomgbr {
    float: left;
    width: 47%;
    margin-bottom: 16px;
    padding: 0 8px;
}
@media screen and (max-width: 680px) {
    .kolomgbr {
        width: 100%;
        display: block;
    }
    .kumpulangbr {
        margin-left: -12%;
    }
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.deskAtas {
    padding: 0 16px;
    text-align: center;
    font-family: "Work sans", Helvetica, Arial, sans-serif;
}
.deskAtas::after, .kumpulangbr::after {
    content: "";
    clear: both;
    display: table;
}
.gambarAkhir {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid#ccc;
    border-radius: 10px;
    resize: vertical;
}
label {
    padding: 12px 0px 12px 0px;
    display: inline-block;
}
.submit {
    display:inline-block;
    position:relative;
    top: 50%;
    left: 85%;
    background-color: #c9aa7f;
    color: white;
    padding: 10px 1px;
    margin: 15px 0 0 1px;
    border: none;
    cursor: pointer;
    width: 15%;
    opacity: 0.9;
    border-radius: 10px;
  }  
.submit:hover {
    background-color: #3d5a80;
    transition: ease 0.5s;
}
.programForm {
    border-radius: 50px;
    background-color: #E7E5D9;
    padding: 20px;
    width: 95%;
    float:right;
    margin-left: 2%;
}
.desForm {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.isiForm {
    float: left;
    width: 75%;
    border-radius: 50px;
}
.isiForm2 {
    float: left;
    width: 73%;
    margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .desForm, .isiForm, input[type=submit] {
      width: 100%;
      margin-top: 0;
      text-align: center;
    }
    .isiForm {
        margin-left: 2%;
    }
    .isiForm2 {
        width: 95%;
    }
    .submit {
        width: 20%;
        margin-left: -5%;
    }
}
