* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: Georgia;
}
nav {
    background-color: rgb(29, 48, 83);
    height: 80px;
    width: 100%;
    z-index: 500;
}
label.logo {
    color: cornsilk;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-left: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: cornsilk;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;

}
a.klik,a:hover{
    background: rgb(42, 80, 131);
    transition: 0.3s;
    z-index: 700;
}
.tombolCheck {
    font-size: 30px;
    color: cornsilk;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-top: 15px;
    cursor: pointer;
    display: none;
}
#tmblMore {
    display: none;
}
@media (max-width: 1408px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
        z-index: 1000;
    }
}
@media (max-width: 900px){
    .tombolCheck{
        display: block;
    }
    ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        background: rgb(148, 97, 31);
        top: 80px;
        right: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 5000;
    }
    nav ul li{
        display: block;
        margin-left: 50px;
        margin-right: 20px;
        line-height: 70px;
    }
    nav ul li a {
        font-size: 30px;
    }
    a:hover, a.klik {
        background : none;
        color: rgb(3, 7, 14); 
    }
    #tmblMore:checked ~ ul{
        right: 0;
    }
}

.kotakSlide {
    max-width: 1408px;
    height: 690px; 
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: 0;
}
.tempatGambar {
    width :2816px;
    height : 690px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
}
.slideGambar {
    float: left;
    margin : 0px;
    padding : 0px;
}
.kotakTombol{
    top: -100px;
    position: relative;
}
.tombolSlide{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background-color: black;
}
#slideGambar1:target ~ .tempatGambar  {
    left: 0px;
}
#slideGambar2:target ~ .tempatGambar{
    left: -1408px;
}
.tulisan{
    background-color: lightblue;
}




/* Buat Login */
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
} 

/*Buat sign up */
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn2 {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn2, .signupbtn2 {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container2 {
  padding: 16px;
}

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content2 {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close2 {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close2:hover,
.close2:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix2::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn2, .signupbtn2 {
     width: 100%;
  }
}
